*{
    margin: 0;
    padding: 0;
    font-family: "Instacart Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.header-gift{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 108px;
    border-bottom: .5px solid grey;
    position: sticky;
    top: 0px;
    background-color: white;
}
.header-gift .img-gift a, .header-gift .two-gift a{
    text-decoration: none;
    padding: 50px;
    letter-spacing: .3px;
}
.header-gift .two-gift a button{
    background-color: #0aad0a;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 16px;
    border-radius: 14px;
    border: none;
}
#redeem{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
@media screen and (max-width: 1167px){
    .header-gift{
        display: flex;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .header-gift .two-gift{
        margin-left: 260px;
    }
}
/* gift card & first part */
.first-part{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 560px;
    margin-left: 210px;
    padding: 40px;
    letter-spacing: .3px;
}
.first-part h1{
    font-size: 54px;
    color: rgb(68, 68, 68);
}
.first-part h3{
    padding-top: 20px;
    font-weight: lighter;
}
.first-part button{
    background-color: #0aad0a;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    padding:16px 48px 16px 48px;
    border-radius: 14px;
    border: 1px solid transparent;
    box-sizing: border-box;
}
@media screen and (max-width: 1167px){
    .first-part{
        margin-left: 0px;
        overflow-x: hidden;
    }
}
/* occassion */
.occasion{
    margin-left: 210px;
    padding: 20px;
    padding-top: 60px;
}
.occasion .parts{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 40px;
}
.occasion .parts div{
    cursor: pointer;
    padding-top: 60px;
}
.occasion .parts div figcaption{
    text-align: left;
    padding-top: 16px;
    font-size: 24px;
}
.occasion a {
    color: #0aad0a;
    font-weight: bold;
    margin-left: 400px;
    font-size: 20px;
    text-decoration: none;
}
@media screen and (max-width: 1167px){
    .occasion{
        margin-left: 20px;
        padding: 10px;
        overflow-x: hidden;
    }
    .occasion .parts{
        display: grid;
        grid-template-columns: repeat(3,300px);
        column-gap: 40px;
        padding-top: 40px;
    }
    .occasion a{
        margin-left: 0px;
    }
}
/* gift of convenience */
.gift-con{
    margin-left: 210px;
    padding: 20px;
    padding-top: 60px;
    margin-right: 200px;
}
.gift-con .convenience{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 30px;
}
.gift-con .convenience .types{
    text-align: left;
    padding: 10px;
    line-height: 1.5;
}
.gift-con .convenience .types figcaption{
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}
.gift-con .convenience .types p{
    color:rgb(68, 68, 68);
    font-size: 18px;
}
@media screen and (max-width: 1167px){
    .gift-con{
        margin-left: 20px;
        padding: 20px;
        padding-top: 60px;
        margin-right: 200px;
        overflow-x: hidden;
    }
    .gift-con .convenience{
        display: grid;
        grid-template-columns: repeat(3,300px);
        padding-top: 30px;
    }
}
/* spread love */
.spread-love{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 50px;
}
.spread-love .spread-part1 img{
    border-radius: 16px;
}
.spread-love .spread-part2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 450px;
    margin-left: -380px;
    line-height: 1.5;
}
.spread-love .spread-part2 h2{
    font-size: 24px;
}
.spread-love .spread-part2 p{
    padding-top: 30px;
    padding-bottom: 30px;
}
.spread-love .spread-part2 a{
    color: #0aad0a;
    font-size: 16px;
    text-decoration: none;
}
@media screen and (max-width: 1167px){
    .spread-love{
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
    }
    .spread-love .spread-part1{
        margin-left: 10px;
    }
}
/* faq accordation */
.faq{
    width: 1050px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    margin-left: 240px;
    padding-top: 30px;
    margin-top: 60px;
}
.accordion__label, .accordion__content{
    padding: 14px 20px;
    color: black;
    font-weight: bold;
    font-size: 24px;
}
.accordion__label{
    display: block;
    color: rgb(10, 10, 10);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s;
    border-bottom: .6px solid rgb(183, 181, 181);
}
.accordion__content{
    background: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}
.accordion__content p{
    font-size: 16px;
    font-weight: lighter;
    color:rgb(68, 68, 68);
}
.accordion__input{
    display: none;
}
input:checked ~ .accordion__content{
    display: block;
}
@media screen and (max-width: 1167px){
    .faq{
        display: flex;
        justify-content: space-around;
        width: 950px;
        flex-direction: column;
        position: absolute;
        left: -230px;
        overflow-x: hidden;
        right: 10px;
    }
    .content-space{
        overflow-x: hidden;
    }
}
/* gift card-special */
.special{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-top: 60px;
}
.special button{
    width: 200px;
    height: 60px;
    background-color: #0aad0a;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 14px;
    border: 1px solid transparent;
    margin-top: 25px;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 1167px){
    .special{
        position: absolute;
        top: 2500px;
        overflow-x: hidden;
    }
    .para{
        text-align: center;
    }
}
/* footer */
li{
    list-style: none;
}
.footer{
    /* display: grid;
    grid-template-columns: 250px 200px 200px 200px 200px; */
    width: 1050px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    /* border-top: .5px solid rgb(68, 68, 68); */
    border-bottom: .5px solid rgb(68, 68, 68);
    margin-left: 200px;
    margin-top: 60px;
    column-gap: 20px;
    padding-bottom: 20px;
}
.footer .department ul li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px; 
}
.department h2{
    margin-top: 15px;
}
.footer a{
    text-decoration: none;
    font-size: 16px;
    color:rgb(68, 68, 68);
    line-height: 1.15;
}
.footer h2{
    font-size: 18px;
    padding-bottom: 20px;
    color:rgb(68, 68, 68);
}
.footer .digital ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color:rgb(68, 68, 68);
    align-items: center;
}
.footer .department{
    margin-left: 10px;
}
.footer-media{
   display: none;
}
@media screen and (max-width: 1167px){
    .footer{
        display: none;
        overflow-x: hidden;
    }
    .footer-media{
        display: block;
        margin-top: 40px;
        overflow-x: hidden;
    }
    .footer-media .footer-parts .first-footer-part{
        padding: 10px;
        color:rgb(68, 68, 68);
    }
    .footer-media .footer-parts h2,
    .footer-media .sec-foo-part label{
        color:rgb(68, 68, 68);
    }
    .footer-media .footer-parts .sec-foo-part .accordion__content
    ul li a{
        line-height: 2;
    }
    .footer-media .footer-parts .sec-foo-part .accordion__content
    ul li a:hover{
        text-decoration: underline;
    }
    .footer-media .footer-parts .sec-foo-part a{
        text-decoration: none;
        color:rgb(68, 68, 68);
        font-size: 14px;
        line-height: 1.5;
    }
    .footer-media .footer-parts .second-footer-part
    .sec-foo-part{
        padding: 10px;
        width: 350px;
    }
    .footer-media .footer-parts .second-footer-part .sec{
        margin-left: 45px;
    }
    #foo-media-1{
        position: absolute;
        top: 2820px;
        z-index: 1;
        background-color: white;
    }
    #foo-media-1 .footer-parts{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        width: 900px;
    }
    #foo-media-1 .footer-parts .second-footer-part{
        margin-left: 50px;
    }
    #foo-media-2{
        position: absolute;
        top: 3120px;
        z-index: 1;
        background-color: white;
    }
    #foo-media-2 .footer-parts{
        display: flex;justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        width: 900px;
    }
    #foo-media-2 .footer-parts .second-footer-part{
        margin-left: 50px;
    }
    
}
.foo-access{
    margin-left: 190px;
    padding: 30px;
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color:rgb(68, 68, 68);
    border-bottom: .5px solid rgb(68, 68, 68);
}
.acc-2{
    margin-left: 110px;
}
@media screen and (max-width: 1167px){
    .foo-access{
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top: 3500px;
        width: 900px;
        left: -150px;
        border-top: .5px solid rgb(105, 105, 105);
        overflow-x: hidden;
    }
    .acc-2{
        margin-left: 330px;
    }
}
.foo-legal{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color:rgb(68, 68, 68);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1100px;
    margin-left: 150px;
    /* border-bottom: .5px solid rgb(104, 102, 102); */
    box-sizing: border-box;
}
.foo-legal .leg-1, .foo-legal .leg-2{
    font-size: 10px;
    color:rgb(68, 68, 68);
    margin-left: 20px;
}
@media screen and (max-width: 1167px){
    .foo-legal{
        display: flex;
        justify-content: space-around;
        width: 900px;
        position: absolute;
        top: 3560px;
        left: -100px;
        padding-bottom: 20px;
        border-bottom: .5px solid rgb(104, 102, 102);
        overflow-x: hidden;
    }
    .foo-legal .leg, .foo-legal .leg-1, .foo-legal .leg-2,
    .foo-legal .leg-3{
        /* margin-left: 10px; */
        color:rgb(68, 68, 68);
        padding-top: 20px;
    }
}
.last-line{
    width: 1050px;
    color:rgb(117, 116, 116);
    font-size: 12px;
    letter-spacing: .2px;
    line-height: 1.15;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 190px;
    padding: 35px;    
    border-top: .5px solid rgb(104, 102, 102);
}
@media screen and (max-width: 1167px){
    .last-line{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 900px;
        position: absolute;
        top: 3640px;
        left: -120px;
        border-top: none;
        overflow-x: hidden;
        /* border-bottom: .5px solid rgb(104, 102, 102); */
    }
}